{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Booknest</title>
        
        <link rel="stylesheet" href="{% static "home.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />     

    </head>
    <body>
        <div id="preloader"></div>
        <nav class="sticky-top">
            <input type="checkbox" id="check" name="" value="">
			<label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
			<label class="logo"><a href="/home"><b>BOOKNEST</b></a></label>
			<ul>
				<li><a href="/home"><i class="fa-solid fa-house"></i>Home</a></li>
				<li><a href="/item/new" class="active"><i class="fa-solid fa-plus" style="font-size:14px;"></i>Add Item</a></li>
                {% if request.user.is_authenticated %}
				<li><a href="/dashboard"><i class="fa-solid fa-user"></i>Profile</a></li>
                <li><a href="#"><button>Inbox</button></a></li>
				<li><a href="/logout"><button>Logout</button></a></li>
                {% else %}
                <li><a href="/login"><button>Login</button></a></li>
				<li><a href="/signup"><button>Signup</button></a></li>
                {% endif %}

			</ul>
		</nav>
        <section class="home" id="home">
            <div class="home-content">
                <h1>!! Welcome to our Booknest !!</h1><br>
                <p>
                    Welcome to our treasure trove of pre-loved books! Our Booknest is a haven for book lovers and bargain hunters alike.
                    Browse through our extensive collection of gently used books, from classic to temporary bestsellers.
                    Explore our virtual shelves, find your literary adventure and embark on a journey througn the pages of these well-loved books.
                </p>
               <br>
               <a href="/item/browse" class="btn"><i class="fa-solid fa-earth-americas" id="browse"></i><b>Browse</b></a>
            </div>
            <div class="home-img">
                <img src="{% static "booknest.png" %}" alt="logo">
            </div>
        </section>
        <script src="{% static "Loading.js" %}"></script>
    </body>
</html>