{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Booknest</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" ="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        
        <link rel="stylesheet" href="{% static "browse.css" %}">
        <link rel="stylesheet" href="{% static "Login.css" %}">   
     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />     

    </head>
    <body>
        <div id="preloader"></div>
        <nav class="sticky-top">
            <input type="checkbox" id="check" name="" value="">
			<label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
			<label class="logo"><a href="/home"><b>BOOKNEST</b></a></label>
			<ul>
				<li><a href="/home"><i class="fa-solid fa-house"></i>Home</a></li>
				<li><a href="/item/new" class="active"><i class="fa-solid fa-plus" style="font-size:14px;"></i>Add Item</a></li>
                {% if request.user.is_authenticated %}
				<li><a href="/dashboard"><i class="fa-solid fa-user"></i>Profile</a></li>
                <li><a href="#"><button>Inbox</button></a></li>
				<li><a href="/logout"><button>Logout</button></a></li>
                {% else %}
                <li><a href="/login"><button>Login</button></a></li>
				<li><a href="/signup"><button>Signup</button></a></li>
                {% endif %}

			</ul>
		</nav>
        <form action="" method="post">
            {% csrf_token %}
            <h1>Booknest Login</h1>
            <br>
            <label>Username</label><br>
            {{form.username }}
            <br><br>
            <label>Password</label><br>
            {{form.password }}
            <br><br>

            {% if form.non_filed_errors or form.errors %}
            {% for field in form %}
            {{field.errors}}
            {% endfor %}
            {{form.non_field_errors }}
            {% endif %}


            <p>Don't have an account ? <a href="SignUp.html" style="text-decoration: none;">Sign Up</a></p>
            <br>
            <a href="#"><button>Login</button></a>
        </form>
        <script src="{% static "Loading.js" %}"></script>
    </body>
</html>